<div
  class="d-flex p-4 gap-3"
  style="width: 70vw; background-color: beige; border-radius: 10px"
>
  <!-- All transactions -->
  <div class="w-100">
    <h1>All Transactions</h1>
    <div *ngIf="allItems.length > 0" class="card">
      <div class="card-body">
        <app-chart
          [allExpenses]="allExpenses"
          [allIncomes]="allIncomes"
        ></app-chart>
      </div>
    </div>
    <div class="mt-4" *ngIf="allItems.length === 0">
      <h4>Add incomes and expenses to view chart</h4>
    </div>
    <div class="d-flex flex-wrap gap-4 mt-4">
      <div class="card" style="width: 250px; text-align: center">
        <div class="card-body">
          <h2>Total Income</h2>
          <h2><i class="bi bi-currency-rupee"></i>{{ getTotalIncome() }}</h2>
        </div>
      </div>
      <div class="card" style="width: 250px; text-align: center">
        <div class="card-body">
          <h2>Total Expense</h2>
          <h2><i class="bi bi-currency-rupee"></i>{{ getTotalExpense() }}</h2>
        </div>
      </div>
      <div class="card" style="width: 250px; text-align: center">
        <div class="card-body">
          <h2>Total Balance</h2>
          <h2
            [ngStyle]="{
              color: getTotalBalance() < 0 ? 'rgb(209, 5, 5)' : 'green'
            }"
          >
            <i class="bi bi-currency-rupee"></i>{{ getTotalBalance() }}
          </h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Recent history  -->
  <div style="width: 50%">
    <h2>Recent history</h2>
    @for (item of allItems; track $index) {

    <div class="card mb-2">
      <div
        class="d-flex justify-content-between flex-fill p-2 align-items-center"
      >
        <span>{{ item.title }}</span>
        <span
          [ngStyle]="{
            color: item.type === 'expense' ? 'rgb(209, 5, 5)' : 'green'
          }"
          ><i class="bi bi-currency-rupee"></i
          ><span *ngIf="item.type === 'expense'">-</span>{{ item.amount }}</span
        >
      </div>
    </div>
    } @empty {
    <div>No recent Items found</div>
    }
  </div>
</div>

@defer (on viewport){
<div *ngIf="allExpenses.length > 0">
  <app-piechart
    [title]="'Expense report'"
    [data]="allExpenses"
    [totalData]="getTotalExpense()"
  ></app-piechart>
</div>
} @placeholder (minimum 100ms) {
<p>Loading...</p>
} @defer (on viewport){
<div *ngIf="allIncomes.length > 0" class="mt-4">
  <app-piechart
    [title]="'Income report'"
    [data]="allIncomes"
    [totalData]="getTotalIncome()"
  ></app-piechart>
</div>
} @placeholder (minimum 100ms) {
<p>Loading...</p>
}
